
<form (ngSubmit)="onSubmit()" [formGroup]="vehicleForm">
  <p>
  <mat-form-field>
    <mat-label>Brand</mat-label>
    <mat-select formControlName="brand" (selectionChange)="onBrandSelected($event)">
      <mat-option *ngFor="let brand of brandOptions" [value]="brand">{{ brand.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  </p>

  <p>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select formControlName="model">
      <mat-option *ngFor="let model of modelOptions" [value]="model">{{ model.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  </p>

  <p>
  <mat-form-field>
    <mat-label>Model Year</mat-label>
    <input matInput formControlName="modelYear" type="number" min="0">
  </mat-form-field>
  </p>

  <p>
  <mat-form-field>
    <mat-label>VIN</mat-label>
    <input matInput formControlName="vin" type="text">
  </mat-form-field>
  </p>

  <p>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" min="0">
    <span class="currency-symbol">€</span>
  </mat-form-field>
  </p>
  
  <div mat-dialog-actions>
        <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-flat-button color="primary"  type="submit" cdkFocusInitial mat-dialog-close [disabled]="vehicleForm.invalid">Save</button>
  </div>
</form>
