<form [formGroup]="leasingForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label>Monthly Rate</mat-label>
      <input matInput type="number" formControlName="monthlyRate" required>
    </mat-form-field>
    <p>

      <p>
        <mat-form-field>
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customer" required>
            <mat-option *ngFor="let customer of customerOptions" [value]="customer">
              {{ customer.firstName }}
              {{ customer.lastName}}

            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>

          <p>
            <mat-form-field>
              <mat-label>Vehicle</mat-label>
              <mat-select formControlName="vehicle" required>
                <mat-option *ngFor="let vehicle of vehicleOptions" [value]="vehicle">
                  {{ vehicle.brand }}
                  {{vehicle.model}}  ({{vehicle.modelYear}})
            VIN: {{vehicle.vin}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <div mat-dialog-actions>
            <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
            <button mat-flat-button color="primary"  type="submit" cdkFocusInitial mat-dialog-close [disabled]="leasingForm.invalid">Save</button>
          </div>
        </form>