/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.float-right{
  float: right;
}

.edit-btn {
  color: green;
}

.del-btn {
  color: red;
}

table {
  width: 100%;
  margin: 45px auto 2px auto;
}

thead > tr > th {
  text-align: center !important;
  font-size: 16px!important;
}

td {
  text-align: center !important;
}

mat-icon {
  font-size: 16px !important;
}

mat-progress-spinner{
  margin:auto;
}

.mat-datepicker-content .mat-calendar{
  height: auto !important;
}

