/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container{
  padding:10px
}

.text-center{
    text-align: center;
}

.edit-btn{
  color: green;
}

.del-btn{
  color:red
}

table {
    width: 95%;
    margin:50px auto;
  }

thead > tr > th {
     text-align: center!important;
  }

td{
    text-align: center!important;
  }

mat-icon{
    font-size: 20px!important;
  }
  
