<div class="container">
  <div class="float-right">
    <button mat-raised-button color="primary" (click)="openCustomerDialog()">New Customer</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Customer Id </th>
      <td mat-cell *matCellDef="let element">
        {{element.id}}
      </td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.firstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element">
        {{element.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Birth Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.birthDate | date}}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editCustomer(element)">
          <mat-icon class="edit-btn">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCustomer(element.id)">
          <mat-icon class="del-btn">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator  *ngIf="dataSource.length>0 && !showSpinner"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5,10, 25, 50, 100]"
    (page)="onPageChange($event)"
  ></mat-paginator>

   <mat-progress-spinner *ngIf="showSpinner"
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value">
 </mat-progress-spinner>
</div>
<div class="text-center" *ngIf="dataSource.length==0 && !showSpinner">
  <h2>"No Records to Display"</h2>
</div>