
<h4 class="text-center">Contract Overview Details</h4>

 <p><strong>Contract Id:</strong> {{ contractId }}</p>
 <p><strong>Monthly Rate:</strong> {{ monthlyRate }}</p>
 

<div class="details-container">
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>Customer</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>First Name:</strong> {{ customer.firstName }}</p>
      <p><strong>Last Name:</strong> {{ customer.lastName }}</p>
      <p><strong>Birthdate:</strong> {{ customer.birthDate }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="details-card">
    <mat-card-header>
      <mat-card-title>Vehicle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Brand:</strong> {{ vehicle.brand }}</p>
      <p><strong>ID:</strong> {{ vehicle.id }}</p>
      <p><strong>Model:</strong> {{ vehicle.model }}</p>
      <p><strong>Model Year:</strong> {{ vehicle.modelYear }}</p>
      <p><strong>VIN:</strong> {{ vehicle.vin }}</p>
      <p><strong>Price:</strong> {{ vehicle.price }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
