
<h2 class="text-center">Contract Overview Details</h2>

 <p><span>Contract Id:</span> {{ contractId }}</p>
 <p><span>Monthly Rate:</span> {{ monthlyRate }}</p>
 
<div class="details-container">
  <mat-card class="details-card">
    <mat-card-header>
      <h3>Customer Details</h3>
    </mat-card-header>
    <mat-card-content>
      <p><span>First Name</span>: {{ customer.firstName }}</p>
      <p><span>Last Name:</span> {{ customer.lastName }}</p>
      <p><span>Birthdate:</span> {{ customer.birthDate | date}}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="details-card">
    <mat-card-header>
      <h3>Vehicle Details</h3>
    </mat-card-header>
    <mat-card-content>
      <p><span>Brand:</span> {{ vehicle.brand }}</p>
      <p><span>ID:</span> {{ vehicle.id }}</p>
      <p><span>Model:</span> {{ vehicle.model }}</p>
      <p><span>Model Year:</span> {{ vehicle.modelYear }}</p>
      <p><span>VIN:</span> {{ vehicle.vin }}</p>
      <p><span>Price:</span> {{ vehicle.price }}</p>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
