header {
  background: #009688;
  color: white;
  display: flex;
  align-items: center;
}

header > span {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-icon{
  font-size :30px !important;
}

mat-drawer-container {
  height: 100%;
}

.sidenav {
  padding: 20px;
}

mat-list-item {
  color: white !important;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

mat-list-item:hover {
  color: black !important;
}

mat-drawer {
  background-color: #009688;
}
