<header>
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon class="nav-icon">view_headline</mat-icon>
  </button>
  <span>Leasing App</span>
</header>
<mat-drawer-container  autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <mat-list>
      <mat-list-item routerLink="/contract-overview">Contract Overview</mat-list-item>
      <mat-list-item routerLink="/customer-list">Customers</mat-list-item>
      <mat-list-item routerLink="/vehicle-list">Vehicles</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>